div{
    background-color:blueviolet;
}

p{

width: 50px;
height: 50px;
border: 1px solid black;

}
#p1{
    background-color: azure;
    


}

#p2{
background-color: brown;

}
#p3{

    background-color:darkorange ;
}

#p4{
    background-color: greenyellow;
}